:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main, #gallery, #prices, #details, #signUp, footer, #nav1, header {
  background-color: rgba(11, 71, 101, 0.384);
  margin: 40px auto;
  width: 80%;
  color: white;
  text-align: center;
  padding: 50px 40px;
  border-radius: 4px;
}

#nav1 ul li a, #nav1 .toggleNav {
  text-decoration: none;
  padding: 10px;
  color: white;
}

body {
  background-image: linear-gradient(90deg, #ffa600, #144bb8);
}

.container {
  width: 1700px;
  margin: 0 auto;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-weight: normal;
  border-style: solid;
  border-color: white;
  border-left: 4px;
  border-right: 4px;
  padding: 10px;
  border-radius: 8px;
}

.open {
  display: flex !important;
}

#nav1 {
  padding: 0;
  border: 2px solid white;
}
#nav1 .toggleNav {
  display: none;
}
#nav1 ul {
  display: flex;
  padding: 10px 5px;
}
#nav1 ul li {
  flex: 1 50px;
  list-style-type: none;
  text-align: center;
  padding: 10px 5px;
}
#nav1 ul li a {
  display: inline-block;
}
#nav1 a:hover {
  transform: scale(1.5);
  transition: transform 0.25s;
}
#nav1 .aSocial:hover {
  transform: scale(1.8);
  transition: transform 0.25s;
}

main p, #gallery p, #prices p, #details p, #signUp p, footer p {
  margin: 20px auto;
}

main img, #gallery img {
  height: auto;
  width: 100%;
}
main figcaption, #gallery figcaption {
  padding-top: 20px;
}
main figcaption p, #gallery figcaption p {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  display: inline-block;
  width: 250px;
}

#gallery img {
  width: 100%;
  height: auto;
}
#gallery #galleryNavbar {
  margin-top: 20px;
}
#gallery #galleryNavbar ul {
  display: flex;
}
#gallery #galleryNavbar ul li:first-child, #gallery #galleryNavbar ul li:last-child {
  flex: 1;
}
#gallery #galleryNavbar ul li {
  flex: 3;
  list-style-type: none;
}
#gallery #galleryNavbar ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-basis: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
#gallery #galleryNavbar ul li a:hover {
  background: rgba(66, 66, 66, 0.8);
  transition: background 0.2s;
}

#prices h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normals;
}
#prices hr {
  width: 60%;
  margin: 18px auto 0 auto;
}
#prices #prices1, #prices #prices2 {
  display: flex;
}
#prices #prices1 .priceTag, #prices #prices2 .priceTag {
  flex: 1;
  font-size: 0.8rem;
  background: rgba(11, 71, 101, 0.384);
  border-radius: 4px;
  padding: 30px 10px;
  margin: 15px;
  color: #0a0a0a;
}
#prices #prices1 .priceTag h3, #prices #prices2 .priceTag h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 40px;
}
#prices #prices1 .priceTag ul, #prices #prices2 .priceTag ul {
  padding: 10px;
}
#prices #prices1 .priceTag ul li, #prices #prices2 .priceTag ul li {
  list-style-type: none;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
#prices #prices1 .priceTag ul li:last-child, #prices #prices2 .priceTag ul li:last-child {
  border-bottom: none !important;
}
#prices #prices1 .priceTag .price, #prices #prices2 .priceTag .price {
  font-size: 1.7rem;
  margin-bottom: 45px;
}
#prices #prices1 .priceTag .cta, #prices #prices2 .priceTag .cta {
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  background: yellow;
}
#prices #prices1 {
  align-items: center;
}
#prices #prices2 {
  align-items: stretch;
}
#prices #prices2 .priceTag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#signUp input {
  padding: 5px;
  border-radius: 2px;
  border: none;
  margin: 5px 10px;
}

@media all and (max-width: 1700px) {
  .container {
    width: 100%;
  }
}
@media all and (max-width: 1100px) {
  #nav1 ul {
    flex-wrap: wrap;
  }

  #nav1 li {
    flex: 1 1 50% !important;
  }

  #nav1 .social {
    flex: 1 1 25% !important;
  }
}
@media all and (max-width: 800px) {
  #prices1, #prices2 {
    flex-wrap: wrap !important;
    align-items: stretch !important;
    justify-content: center;
  }

  .priceTag {
    flex: 0 1 calc(50% - 30px) !important;
  }
}
@media all and (max-width: 600px) {
  header, #nav1, main, #gallery, #prices, #details, #signUp, footer {
    margin: 20px auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container #nav1 {
    order: 1;
  }
  .container #nav1 .toggleNav {
    display: block;
  }
  .container #nav1 ul {
    display: none;
  }
  .container header {
    order: 2;
  }
  .container #details {
    order: 3;
  }
  .container #signUp {
    order: 4;
  }
  .container #signUp input {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
  .container #signUp input[type=submit] {
    width: 40%;
  }
  .container main {
    order: 5;
  }
  .container #gallery {
    order: 6;
  }
  .container #gallery a {
    height: 60px !important;
  }
  .container #gallery li:not(.arrow) {
    display: none;
  }
  .container #prices {
    order: 7;
  }
  .container #prices .priceTag {
    flex: 1 1 100% !important;
  }
  .container footer {
    order: 8;
  }

  #nav1 li {
    flex-basis: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
