:root {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%section {
    background-color: hsla(200, 80%, 22%, 0.384);
    margin: 40px auto;
    width: 80%;
    color: white;
    text-align: center;
    padding: 50px 40px;
    border-radius: 4px;
}

%menuLinks {
    text-decoration: none;
    padding: 10px;
    color: white;
}

@mixin scaleUp($scaleValue, $transitionTime) {
    transform: scale($scaleValue);
    transition: transform $transitionTime;
}

body {
    background-image: linear-gradient(90deg, rgba(255, 166, 0, 1),hsl(220, 80%, 40%));;
}

.container {
    width: 1700px;
    margin: 0 auto;
}

header {
    @extend %section;
    a {
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        font-weight: normal;
    }
}

//#menuButton: class for opening - closing the menu (controlled in script.js by jquery)
//I had to set it outside the nav and with !important to make it work
.open {
    display: flex !important;
}

#nav1 {
    @extend %section;
    padding: 0;
    border: 2px solid white;

    //#menuButton: normally not displayed, a media query changes its display prop
    .toggleNav {
        display: none;
        @extend %menuLinks;
    }
    ul {
        display: flex;
        padding: 10px 5px;
        li {
            flex: 1 50px;
            list-style-type: none;
            text-align: center;
            padding: 10px 5px;
            a {
                display: inline-block;
                @extend %menuLinks;
                }        
            }
    }
    
    a:hover {
        @include scaleUp(1.5, 0.25s);
    }

    .aSocial:hover {
        @include scaleUp(1.8, 0.25s)
    }

}

main, #details, #signUp, footer {
    @extend %section;
    p {
        margin: 20px auto;
    }
}

main {
    img {
        height: auto;
        width: 100%;
    }
    figcaption {
        padding-top: 20px;
        p {
            padding-bottom: 10px;
            border-bottom: 2px solid white;
            display: inline-block;
            width: 250px;
        }
    }
}

#signUp {
    input {
        padding: 5px;
        border-radius: 2px;
        border: none;
        margin: 5px 10px;
    }
}





@media all and (max-width: 1700px) {
    .container {
        width: 100%;
    }
}


@media all and (max-width: 1100px) {
    #nav1 ul {
        flex-wrap: wrap;
    }

    #nav1 li {
        flex: 1 1 50% !important;
    }

    #nav1 .social {
        flex: 1 1 25% !important;
    }
}

@media all and (max-width: 600px) {
    %section {
        margin: 20px auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        #nav1 {
            order: 1;

            //#menuButton: to make it visible with screen < 600px wide
            .toggleNav {
                display: block;
            }

            //#menuButton: to make it not visible with screen < 600px wide; the class "open" will change this when the menu button is clicked
            ul {
                display: none;
            }

        }

        header {
            order: 2;
        }

        #details {
            order: 3;
        }

        #signUp {
            order: 4;
            input {
                display: block;
                width: 100%;
                margin: 10px auto;
            }
            input[type="submit"] {
                width: 40%;
            }
        }

        main {
            order: 5;
        }

        footer {
            order: 6;
        }

    }

    #nav1 li {
        flex-basis: 100% !important;
    }
}
 