:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
#gallery,
#prices,
#flexGrid,
#airbnbForm,
#mobileApp,
#details,
#signUp,
footer, #nav1, header {
  background-color: rgba(11, 71, 101, 0.384);
  margin: 40px auto;
  width: 80%;
  color: white;
  text-align: center;
  padding: 50px 40px;
  border-radius: 4px;
  font-weight: normal;
}

#mobileApp h2, #airbnbForm h2, #flexGrid h2, #prices h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}

#nav1 ul li a, #nav1 .toggleNav {
  text-decoration: none;
  padding: 10px;
  color: white;
}

#flexGrid .buttonsContainer .btn, #prices #prices1 .priceTag .cta,
#prices #prices2 .priceTag .cta {
  padding: 10px;
  border-radius: 2px;
  border: none;
  background: #ffe600;
}

.btnActive {
  background: #00cccc !important;
  /* box-shadow: 0 0 8px 1px hsla(54, 100%, 90%, 0.8), 0 0 10px 2px hsla(54, 100%, 50%, 0.6), 0 0 14px 2px hsla(54, 100%, 50%, 0.8) inset;
    border: 2px solid hsla(54, 100%, 50%, 0.7) !important; */
}

body {
  background-image: linear-gradient(90deg, #ffa600, #144bb8);
}

.container {
  width: 1700px;
  margin: 0 auto;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-weight: normal;
  border-style: solid;
  border-color: white;
  border-left: 4px;
  border-right: 4px;
  padding: 10px;
  border-radius: 8px;
}

.open {
  display: flex !important;
}

#nav1 {
  padding: 0;
  border: 2px solid white;
}
#nav1 .toggleNav {
  display: none;
}
#nav1 ul {
  display: flex;
  padding: 10px 5px;
}
#nav1 ul li {
  flex: 1 50px;
  list-style-type: none;
  text-align: center;
  padding: 10px 5px;
}
#nav1 ul li a {
  display: inline-block;
}
#nav1 a:hover {
  transform: scale(1.5);
  transition: transform 0.25s;
}
#nav1 .aSocial:hover {
  transform: scale(1.8);
  transition: transform 0.25s;
}

main p,
#gallery p,
#prices p,
#flexGrid p,
#airbnbForm p,
#mobileApp p,
#details p,
#signUp p,
footer p {
  margin: 20px auto;
}

main img,
#gallery img {
  height: auto;
  width: 100%;
}
main figcaption,
#gallery figcaption {
  padding-top: 20px;
}
main figcaption p,
#gallery figcaption p {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  display: inline-block;
  width: 250px;
}

#gallery img {
  width: 100%;
  height: auto;
}
#gallery #galleryNavbar {
  margin-top: 20px;
}
#gallery #galleryNavbar ul {
  display: flex;
}
#gallery #galleryNavbar ul li:first-child,
#gallery #galleryNavbar ul li:last-child {
  flex: 1;
}
#gallery #galleryNavbar ul li {
  flex: 3;
  list-style-type: none;
}
#gallery #galleryNavbar ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-basis: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
#gallery #galleryNavbar ul li a:hover {
  background: rgba(66, 66, 66, 0.8);
  transition: background 0.2s;
}

#prices hr {
  width: 60%;
  margin: 18px auto 0 auto;
}
#prices #prices1,
#prices #prices2 {
  display: flex;
}
#prices #prices1 .priceTag,
#prices #prices2 .priceTag {
  flex: 1;
  font-size: 0.8rem;
  background: rgba(11, 71, 101, 0.384);
  border-radius: 4px;
  padding: 30px 10px;
  margin: 15px;
  color: #0a0a0a;
}
#prices #prices1 .priceTag h3,
#prices #prices2 .priceTag h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 40px;
}
#prices #prices1 .priceTag ul,
#prices #prices2 .priceTag ul {
  padding: 10px;
}
#prices #prices1 .priceTag ul li,
#prices #prices2 .priceTag ul li {
  list-style-type: none;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
#prices #prices1 .priceTag ul li:last-child,
#prices #prices2 .priceTag ul li:last-child {
  border-bottom: none !important;
}
#prices #prices1 .priceTag .price,
#prices #prices2 .priceTag .price {
  font-size: 1.7rem;
  margin-bottom: 45px;
}
#prices #prices1 .priceTag .cta,
#prices #prices2 .priceTag .cta {
  text-decoration: none;
}
#prices #prices1 {
  align-items: center;
}
#prices #prices2 {
  align-items: stretch;
}
#prices #prices2 .priceTag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#flexGrid h2 {
  margin-bottom: 45px;
}
#flexGrid .flexGridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 350px;
}
#flexGrid .flexGridContainer .grid-item {
  padding: 10px 5px;
  margin: 4px;
  background: rgba(11, 71, 101, 0.384);
  flex: 0 1 calc(33.33% - 8px);
  border-radius: 2px;
  font-size: 1rem;
  color: #0a0a0a;
}
#flexGrid .buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  background: rgba(11, 71, 101, 0.384);
  margin: 45px 35px;
  padding: 20px;
  border-radius: 2px;
}
#flexGrid .buttonsContainer .btn {
  margin: 0 10px;
  font-size: 0.8rem;
}
#flexGrid .buttonsContainer .btn:hover {
  transform: scale(1.2);
  transition: transform 0.25s;
}

#airbnbForm h2 {
  margin-bottom: 45px;
}
#airbnbForm .contentWrapper {
  position: relative;
  overflow: hidden;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#airbnbForm .contentWrapper .flexForm {
  flex: 1;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  border: 15px solid rgba(26, 26, 26, 0.3);
  border-radius: 4px;
}
#airbnbForm .contentWrapper .flexForm input,
#airbnbForm .contentWrapper .flexForm label,
#airbnbForm .contentWrapper .flexForm select {
  display: flex;
  flex: 2 3 300px;
  padding: 8px !important;
  font-size: 0.8rem;
  align-items: center;
  border: none;
  border-right: 1px solid lightgrey;
  background: white;
  color: #0a0a0a;
}
#airbnbForm .contentWrapper .flexForm label,
#airbnbForm .contentWrapper .flexForm select {
  flex: 1 6 100px;
}
#airbnbForm .contentWrapper .flexForm input:first-child {
  flex: 1 1 300px;
}
#airbnbForm .contentWrapper .flexForm input[value=Search] {
  background: #e61a1a;
  border-right: none;
  color: white;
  justify-content: center;
}
#airbnbForm .contentWrapper .flexForm input[type=date] {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}
#airbnbForm .contentWrapper video {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

#mobileApp h2 {
  margin-bottom: 45px;
}
#mobileApp .contentWrapper {
  border: 8px solid #0a0a0a;
  border-bottom: 50px solid #0a0a0a;
  border-radius: 8px;
  height: 900px;
  display: flex;
  flex-direction: column;
}
#mobileApp .contentWrapper * {
  flex: 1 1 auto;
}
#mobileApp .contentWrapper a {
  text-decoration: none;
}
#mobileApp .contentWrapper .appHeader {
  background: #e6801a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}
#mobileApp .contentWrapper .appHeader a {
  border: 3px solid white;
  border-radius: 8px;
  padding: 0.5rem;
  color: white;
  flex: 1 3 auto;
  font-size: 0.8rem;
}
#mobileApp .contentWrapper .appHeader h3 {
  padding: 0.5rem;
  flex: 5 1 auto;
}
#mobileApp .contentWrapper .appContent {
  overflow-y: scroll;
  background: white;
  color: #0a0a0a;
  font-size: 0.8rem;
  text-align: justify;
  padding: 0.5rem;
  line-height: 1.4rem;
}
#mobileApp .contentWrapper .appContent h3 {
  font-size: 1.08rem;
  font-weight: normal;
}
#mobileApp .contentWrapper .appContent img {
  max-width: 30%;
  height: auto;
  float: left;
  margin-right: 0.5rem;
}
#mobileApp .contentWrapper .appFooter {
  background: #e6801a;
  display: flex;
}
#mobileApp .contentWrapper .appFooter a {
  border-right: 1px solid rgba(77, 77, 77, 0.3);
  padding: 0.5rem 0.2rem 1rem 0.2rem;
  flex: 1;
  color: white;
  font-size: 0.8rem;
}
#mobileApp .contentWrapper .appFooter a i {
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
}
#mobileApp .contentWrapper .appFooter a:last-child {
  border-right: none;
}

#signUp input {
  padding: 5px;
  border-radius: 2px;
  border: none;
  margin: 5px 10px;
}

@media all and (max-width: 1700px) {
  .container {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  #airbnbForm .contentWrapper .flexForm {
    flex: 0 1 250px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  #airbnbForm .contentWrapper .flexForm input,
#airbnbForm .contentWrapper .flexForm label,
#airbnbForm .contentWrapper .flexForm select {
    flex: 1;
    border-right: none;
    border-bottom: 1px solid lightgrey;
  }
  #airbnbForm .contentWrapper .flexForm input:first-child {
    flex-basis: 36px;
  }
  #airbnbForm .contentWrapper .flexForm input:last-child {
    border-bottom: none;
  }
  #airbnbForm .contentWrapper video {
    width: auto;
    height: 100%;
  }
}
@media all and (max-width: 1100px) {
  #nav1 ul {
    flex-wrap: wrap;
  }

  #nav1 li {
    flex: 1 1 50% !important;
  }

  #nav1 .social {
    flex: 1 1 25% !important;
  }
}
@media all and (max-width: 800px) {
  #prices1,
#prices2 {
    flex-wrap: wrap !important;
    align-items: stretch !important;
    justify-content: center;
  }

  .priceTag {
    flex: 0 1 calc(50% - 30px) !important;
  }

  .flexGridContainer {
    height: auto !important;
  }
}
@media all and (max-width: 600px) {
  header, #nav1, main,
#gallery,
#prices,
#flexGrid,
#airbnbForm,
#mobileApp,
#details,
#signUp,
footer {
    margin: 20px auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container #nav1 {
    order: 1;
  }
  .container #nav1 .toggleNav {
    display: block;
  }
  .container #nav1 ul {
    display: none;
  }
  .container header {
    order: 2;
  }
  .container header a {
    border: none;
  }
  .container #details {
    order: 3;
  }
  .container #signUp {
    order: 4;
  }
  .container #signUp input {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
  .container #signUp input[type=submit] {
    width: 40%;
  }
  .container main {
    order: 5;
  }
  .container #gallery {
    order: 6;
  }
  .container #gallery a {
    height: 60px !important;
  }
  .container #gallery li:not(.arrow) {
    display: none;
  }
  .container #prices {
    order: 7;
  }
  .container #prices .priceTag {
    flex: 1 1 100% !important;
  }
  .container #flexGrid {
    order: 8;
  }
  .container #flexGrid .grid-item {
    flex: 1 1 100%;
  }
  .container #flexGrid .buttonsContainer {
    display: none;
  }
  .container #airbnbForm {
    order: 9;
  }
  .container #mobileApp {
    order: 10;
  }
  .container footer {
    order: 11;
  }

  #nav1 li {
    flex-basis: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
